Source: xbmc-pvr-mythtv-cmyth
Priority: extra
Maintainer: Arne Morten Kvarving <arne.morten.kvarving@sintef.no>
Build-Depends: debhelper (>= 8.0.0), cmake, xbmc-pvr-dev, libmysqlclient-dev,
               libxbmcplatform-dev, xbmc-addon-dev, libboost-dev
Standards-Version: 3.9.2
Section: libs
Homepage: <insert the upstream URL, if relevant>

Package: xbmc-pvr-mythtv-cmyth
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MythTV PVR for XBMC
 MythTV PVR for XBMC
